.work,
.capabilities,
.reviews,
.contact-us {
  background: @color-white;
  padding: 15rem 1.5rem;
  .container{
    max-width: 132rem;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  .card-container{
    margin-top: 7.5rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

}

.work .card-container{
  row-gap: 7.5rem;
}

.reviews .swiper,
.capabilities .btn,
.work .paragraph + .btn,
.approach .row:first-of-type{
  margin-top: 7.5rem;
}
.capabilities .card-container{
  row-gap: 4rem;
}

.rewards,
.approach,
.brands{
  background: @color-bg-grey;
  padding: 15rem 1.5rem;
  .container{
    max-width: 115rem;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
}
.rewards .h-primary {
  text-transform: uppercase;
}
.rewards .h-secondary {
  letter-spacing: 0.07em;
}
.brands{
  padding: 8rem 0;
  .container{
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
}

.contact-us{
  .container {
    max-width: 115rem;
  }
}
