.progress {
  margin-top: 7.5rem;
  .row {
    display: flex;
    justify-content: space-between;
    &:last-child{
      margin-top: 5rem;
    }
  }

  .card{
    width: 30.45%;
  }

  .card,
  .card-2 {
    padding: 3.8rem 2.4rem;
    background: @color-bg-grey;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.05), -10px -10px 10px rgba(255, 255, 255, 0.6);
    border-radius: 2rem;
    transition: all .2s;
  }
  .card-2 {
    width: 21.8%;
  }

  .card{
    cursor: pointer;
    &:hover{
      background: rgba(159, 131, 214, 0.05);
    }
  }

  .inner {
    display: flex;
    & > img {
      width: 7.3rem;
      height:auto;
      //display: flex;
      align-self: center;
    }
  }

  .info {
    margin-left: 3rem;
    text-align: left;
  }

  .title a {
      &:link,
      &:visited {
        color: @color-text-green;
        font-size: @big-font-size;
        line-height: 2.8rem;
      }
  }

  .rating {
    margin-top: 6px;
    font-size: @small-font-size;
    line-height: 2rem;
  }

  .member,
  .star{
    margin-top: 8px;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: @color-text-grey;
  }

 .star {
    img {
      width: 1.4rem;
      height: 1.4rem;
      margin-right: 11px;
      margin-bottom: -2px;
    }
  }

  .card-2 {
    padding: 3rem 6rem;
    text-align: center;
      .top {
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 15rem;
      }
      img {
        margin-left: 1.2rem;
        width: 3rem;
        height: 2rem;
        &:not(.speedup):not(.bricks){
          height: 3rem;
        }

      }

    .results {
      margin-top: 1rem;
      font-weight: 700;
      font-size: @huge-font-size;
      line-height: 62px;
      //color: @color-primary-purple;
      letter-spacing: 0.07em;
      background: linear-gradient(90deg, #9E82D4 0%, #A283DD 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
    }
  }
}

@media(max-width: 1150px){
  .progress {
    display: flex;
    column-gap: 3rem;
    padding: 0 69px;
    justify-content: center;
    .row {
      width: 35rem;
      //display: flex;
      flex-direction: column;
      gap: 3rem;
      &:last-child{
        margin-top: 0;
        width: 25rem;
        gap: 4rem;
      }
    }
    .card,
    .card-2{
      width: 100%;
    }

    .card-2 {
      padding: 1.1rem 6rem;

      .results {
        font-weight: 700;
        font-size: 4rem;
        line-height: 5rem;
        //color: @color-primary-purple;
        letter-spacing: 0.07em;
        //background: linear-gradient(90deg, #9E82D4 0%, #A283DD 100%);
        //-webkit-background-clip: text;
        //-webkit-text-fill-color: transparent;
        //background-clip: text;
        //text-fill-color: transparent;
      }
    }

  }
}
