.moving_bg{
  z-index: 0;
  width: 135%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 10rem;
  transform: translate(-12rem, -22rem) rotate(-30deg);

  div {
    //width: 47.5rem;
    display: block;
    text-align: center;
    width: calc(100vw / 3.37);
    &.up {
      transform: translateY(-350px);
    }
    &.down {
      transform: translateY(-110px);
    }
    &.up2 {
      transform: translateY(150px);
    }
    &.down2 {
      transform: translateY(150px);
    }
  }
  img{
    //width: 41rem;
    width: 100%;
    //height: auto;

    //height: 25.7rem;
    margin: 0 0 10rem 0;
    //width: calc(100vw / 3.37);
    @media(min-width: 1601px){
      //width: calc(100vw / 3.37);
      //height: auto;
    }
  }
}

